[submodule "Tools/GenSMBIOS"]
	path = Tools/GenSMBIOS
	url = https://github.com/corpnewt/GenSMBIOS.git
[submodule "Tools/ProperTree"]
	path = Tools/ProperTree
	url = https://github.com/corpnewt/ProperTree.git
