<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>My custom DSDT</string>
				<key>Enabled</key>
				<false/>
				<key>Path</key>
				<string>DSDT.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>My custom SSDT</string>
				<key>Enabled</key>
				<false/>
				<key>Path</key>
				<string>SSDT-1.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Read the comment in dsl sample</string>
				<key>Enabled</key>
				<false/>
				<key>Path</key>
				<string>SSDT-ALS0.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Read the comment in dsl sample</string>
				<key>Enabled</key>
				<false/>
				<key>Path</key>
				<string>SSDT-AWAC-DISABLE.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Read the comment in dsl sample</string>
				<key>Enabled</key>
				<false/>
				<key>Path</key>
				<string>SSDT-BRG0.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Read the comment in dsl sample</string>
				<key>Enabled</key>
				<false/>
				<key>Path</key>
				<string>SSDT-EC-USBX.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Fake EC and USBX Power</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-EC.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Read the comment in dsl sample</string>
				<key>Enabled</key>
				<false/>
				<key>Path</key>
				<string>SSDT-EHCx-DISABLE.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Read the comment in dsl sample</string>
				<key>Enabled</key>
				<false/>
				<key>Path</key>
				<string>SSDT-IMEI.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>CPU AGPM Plugin=1</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-PLUG.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Read the comment in dsl sample</string>
				<key>Enabled</key>
				<false/>
				<key>Path</key>
				<string>SSDT-PMC.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Read the comment in dsl sample</string>
				<key>Enabled</key>
				<false/>
				<key>Path</key>
				<string>SSDT-PNLF.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Read the comment in dsl sample</string>
				<key>Enabled</key>
				<false/>
				<key>Path</key>
				<string>SSDT-PNLFCFL.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Read the comment in dsl sample</string>
				<key>Enabled</key>
				<false/>
				<key>Path</key>
				<string>SSDT-RTC0-RANGE.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Read the comment in dsl sample</string>
				<key>Enabled</key>
				<false/>
				<key>Path</key>
				<string>SSDT-RTC0.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Read the comment in dsl sample</string>
				<key>Enabled</key>
				<false/>
				<key>Path</key>
				<string>SSDT-SBUS-MCHC.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Read the comment in dsl sample</string>
				<key>Enabled</key>
				<false/>
				<key>Path</key>
				<string>SSDT-UNC.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>add DTGP method</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-DTGP.aml</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB 2.0 Injection</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-EHCI.aml</string>
			</dict>
		</array>
		<key>Delete</key>
		<array>
			<dict>
				<key>All</key>
				<false/>
				<key>Comment</key>
				<string>Delete CpuPm</string>
				<key>Enabled</key>
				<false/>
				<key>OemTableId</key>
				<data>Q3B1UG0AAAA=</data>
				<key>TableLength</key>
				<integer>0</integer>
				<key>TableSignature</key>
				<data>U1NEVA==</data>
			</dict>
			<dict>
				<key>All</key>
				<false/>
				<key>Comment</key>
				<string>Delete Cpu0Ist</string>
				<key>Enabled</key>
				<false/>
				<key>OemTableId</key>
				<data>Q3B1MElzdAA=</data>
				<key>TableLength</key>
				<integer>0</integer>
				<key>TableSignature</key>
				<data>U1NEVA==</data>
			</dict>
		</array>
	</dict>
</dict>
</plist>
